html {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  color: #87898c !important;
  line-height: 24px;
  height: 100%;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.25px;
  font-weight: 500;
  color: black;
}

body {
  margin: 0px;
}

.highlight {
  font-family: "Nunito" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1.30385e-9px;
  color: #2a323c;
}

input {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  letter-spacing: -1.30385e-9px;

  color: #9ca8b4;
}

svg {
  pointer-events: none;
}

path {
  pointer-events: auto;
}

.strike {
  text-decoration: line-through;
}

.highlight-text {
  color: #4d81b7;
}

.highlighted-item {
  background-color: #d5dfe92b;
}

.black {
  color: black;
}

button {
  font-family: "Nunito", sans-serif !important;
  text-transform: none !important;
}

.title {
  color: white;
  text-transform: uppercase;
}

.veritone-button {
  background: #1871e8;
  border-radius: 4px;
  text-transform: none;
  padding: 8px 15px;
}
